.header {
  background-color: #419e5a;
  height: auto;
  top: 0;
  /* margin-top: -3%; */
  position: fixed;
  text-align: center;
  overflow: hidden;
  width: 100%;
  vertical-align: middle;
}

.leftNav {
  top: 1%;
  left: 1%;
  position: fixed;
  font-family: fantasy;
}

.logoLink{
  text-decoration: none;
}

.centerLogo {
  color: gold;
  /* padding-top: 5px; */
  font-family: fantasy;
  font-weight: bold;
  font-size: 4vh;
  text-align: center;
  /* top: 2; */
}

.rightNav {
  top: 1%;
  right: 1%;
  position: fixed;
  font-family: fantasy;
}


