.brewHeaders{
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  text-align: center;
  background-color: #ace3af;
  font-family: fantasy;
  font-weight: bold;
}

.brewHeaders h1{
  font-size: 5vh;
}

.brewGrid{
  position: relative;
  margin-top: 22vh;
}

.newBrew{
  /* margin-top: 100px; */
  background-color: rgb(174, 141, 115);
  padding: 5px;
  text-align: center;
  font-size: 3vh;
}

.newText{
  color: black;
  text-decoration: none;
}

.newText:hover{
  color: white;
}
